[Unit]
Description=uWSGI instance for cuboid
After=network.target

[Service]
User=cuboid
Group=www-data
Environment='CUBOID_CONFIG=/opt/cuboid/etc/cuboid.cfg'
ExecStart=/opt/cuboid/bin/uwsgi --ini /opt/cuboid/etc/wsgi.ini

[Install]
WantedBy=multi-user.target

