[Unit]
Description=uWSGI instance for cuboid
After=network.target

[Service]
User=cuboid
Group=www-data
ExecStart=/opt/cuboid/bin/uwsgi --ini /opt/wsgi.ini

[Install]
WantedBy=multi-user.target

