#!/bin/bash

mysql --user=root <<EOF
  DELETE FROM mysql.user WHERE User='';
  DELETE FROM mysql.user WHERE User='root' AND Host NOT IN ('localhost', '127.0.0.1', '::1');
  DROP DATABASE IF EXISTS test;
  DELETE FROM mysql.db WHERE Db='test' OR Db='test\\_%';
  GRANT ALL ON *.* TO '{{mariadb.admin_user}}'@'localhost' IDENTIFIED BY '{{mariadb.admin_password}}' WITH GRANT OPTION;
  GRANT ALL PRIVILEGES ON {{mariadb.app_db}}.* TO 'app_user'@'%' IDENTIFIED BY '{{mariadb.app_password}}';
  FLUSH PRIVILEGES;

  CREATE DATABASE IF NOT EXISTS {{mariadb.app_db}};
  USE {{mariadb.app_db}};

  CREATE TABLE IF NOT EXISTS cuboid (
    a DECIMAL NOT NULL,
    b DECIMAL NOT NULL,
    c DECIMAL NOT NULL,
    vol DECIMAL,
    surf DECIMAL,
    per DECIMAL,

    CONSTRAINT cuboid_pk PRIMARY KEY(a, b, c)
  );
EOF

